#job {
    position: fixed;
    top: -0.5%;
    left: 45%;
    color: white;
    font-size: 160%;
    background-color: rgba(0, 0, 0, 0.479);
    border: 10px solid rgba(255, 255, 255, 0.014);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#hour {
    position: fixed;
    font-size: 350%;
    color: rgba(7, 7, 7, 0.767);
    top: 2%;
    left: 92%;
}

#id {
    position: fixed;
    font-size: 100%;
    top: 10%;
    left: 95.7%;
    color: white;
    background-color: rgba(0, 0, 0, 0.308);
    border: 10px solid rgba(0, 0, 0, 0.288);
    border-radius: 100px;
}

#health {
    position: fixed;
    font-size: 100%;
    top: 14%;
    left: 95%;
    color: white;
    background-color: rgba(0, 0, 0, 0.308);
    border: 10px solid rgba(0, 0, 0, 0.288);
    border-radius: 100px;
}

#hungher {
    position: fixed;
    font-size: 100%;
    top: 18%;
    left: 95%;
    color: white;
    background-color: rgba(0, 0, 0, 0.308);
    border: 10px solid rgba(0, 0, 0, 0.288);
    border-radius: 100px;
}

#thirst {
    position: fixed;
    font-size: 100%;
    top: 22%;
    left: 95%;
    color: white;
    background-color: rgba(0, 0, 0, 0.308);
    border: 10px solid rgba(0, 0, 0, 0.288);
    border-radius: 100px;
}